/**********************************************************************
						Carousel + Cards
/*********************************************************************/

.skriveuge {
    box-shadow: 6px 6px 30px #888888;
    border-radius: 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
}

.skriveuge_slide {
	display: flex;

}

.skriveuge_item, .skriveuge_item_dummy{
	/*max-width: 350px;*/
	width: 370px;
	height: 100%;
	/*max-width: 31.5%;*/
	/*width: 31.5%;*/
	display: inline-block;
	margin: 10px;
	border: 1px solid #ccc;
}

.skriveuge_item {
	/*box-shadow: 6px 6px 30px #888888;*/
    /*border-radius: 6px;*/
}

.skriveuge_item_dummy{
	border: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.objLink, .objLink:hover, .objLink:visited {
	color: initial;
	font-weight: initial;
	text-decoration: none;
	cursor: pointer;
	background-color: #f8f8f6;
	z-index: 1;
}

.objText {
	padding-left: 10px;
	padding-right: 10px;
}


.objText h3:visited {
	text-decoration: none;
}

.objText ul{
	margin-left: -20px;
}


.videoPlayThumbnail {
	/*border-radius: 4px;
	box-shadow: 6px 6px 30px #888888;*/
}

.btn_ghost {
	/*width: 100%;*/
	margin-bottom: 20px;
	float: right;
	clear: both;
}

.btn_ghost_noStyle{

}

.imgContainer{
	position: relative;
}

.cviOverlay{
	width: 100%;
	height: 100%;
	background-color: #56bfc5;
	opacity: 0.2;
	/*background-color: rgba(5, 160, 168, 0.06);*/
	position: absolute;
	display: none;
}

.carousel-indicators{
	display: none;
}

.carousel {
	background-color: #f8f8f6;
}

.carousel{
	padding-bottom: 10px;
}

.weekNameAndNumber {
	display: inline-block;
	width: 15%;
	position: absolute;
}

.weekNumber{
	font-size: 12em;
	color: #CCC;
	position: absolute;
	left: 5px;
	z-index: 1;
}

.weekDay{
	font-size: 4em;
	position: absolute; 
	z-index: 2;
	top: 95px;
	color: #444;
}

.carousel-inner{
	width: initial;
    display: inline-block;  
    /*margin-left: 15%;*/
    float: right;
    width: 88%;    /* <----- IMPORTANT AJUSTMENT PERAMETER*/
}

.active {
	/*display: inline-block !important;*/
}


.carousel-control.left {
	/*left: 10%;*/
	left: 10.5%;
}

.carousel .carousel-control.right {
	/*right: -15px;*/
	right: -10px;
}

.audioInline{
	/*position: relative;
	top: 45px;*/
	height: 85%;  /* <----- Dette virker ikke - spørg ATO! */
}

/**********************************************************************
						HTML hidden content
/*********************************************************************/

#hiddenContent {
	display: none;
}


.fodnote {
	margin-top: 25px;
}

.fodnote_halvstreg {
	width: 33%;
	border-top: 1px solid #000; 
}

.fodnote_tekst {
	display: inline-block;
	width: 97%;
}

.fodnote_num {
	vertical-align: top;
	position: relative;
	top: 8px;
}

.cmdShortcut {

}

#UserMsgBox_text p {
	margin: 10px 0px;
}

/**********************************************************************
						UserMsgBox
/*********************************************************************/

.MsgBox_bgr {
	z-index: 103;
}


/**********************************************************************
						Slider menu
/*********************************************************************/

#outerContainer {
    /* border: 1px solid #F00; */
    /* width: 50%; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    position: relative;
}

#weekNum_container {
	/*top: -30px;*/
}

.weekNum_number {
	/*font-size: 6em;*/
	color: #05a0a8;
	width: 12%;
	display: inline-block;
}

#sliderContainer {
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 101;
    border-bottom: 1px solid #999;
    background-color: #f8f8f6;
}


#slider {
    display: inline-block;
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 102;
    width: initial;
    cursor: pointer;
}

#bracketImg {
    height: 100%;
}

.weekNum_number_action {
	cursor: pointer;
	font-size: 6em;
}


/**********************************************************************
						VIDEOS
/*********************************************************************/


#UserMsgBox_video {
    background-color: #FFF;
    width: 100%;
    /* max-width: 1160px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#UserMsgBox_video .CloseClass {
    margin: 0px;
    font-size: 2vw;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    clear: both;
    cursor: pointer;
    /* -webkit-background-clip: padding-box; */
    /* background-clip: padding-box; */
    /* border-radius: 50%; */
}


/**********************************************************************
				PREVENT AUDIO DOWNLOAD IN CHROME
/*********************************************************************/

audio {
	width: 100%;
	background-color: #FFF;
}

/**********************************************************************
						NO SELECT OF ELEMENTS
/*********************************************************************/

#outerContainer {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}


/**********************************************************************
						MOBILE VIEW
/*********************************************************************/


.skriveuge_item, .skriveuge_item_dummy{   
	width: initial; 	/* <----- This makes the width of the cards to 800 px as the width of the pictures of the cards - works OK in non-mobilemode */
}

.mobile_dayContent {
	display: inline-block;
	/*margin-left: 15%;*/ 	/* <---------- VIGTIGT: Denne centrereing er ikke nødvendig i chrome mobil simulering! */
}

.mobile_weekNameAndNumber {
	display: inline-block;
	position: relative;
	width: 20%;
	text-align: center;
	margin-left: 35%;
}

.mobile_weekNumber{
	font-size: 12em;
	color: #CCC;
	position: relative;
	left: 5px;
	z-index: 1;
}

.mobile_weekDay{
	font-size: 4em;
	position: absolute; 
	z-index: 2;
	top: 95px;
	color: #444;
}

/**********************************************************************
					MEDIA QUERIES - DESKTOP
/*********************************************************************/

@media (min-width: 1101px) and (max-width:1160px) {

    

}


@media (min-width: 901px) and (max-width:1100px) {

	.weekNum_number{
    	font-size: 0.9em;
    }

    .weekNameAndNumber {
    	font-size: 0.9em;
    	
    }

    .weekDay {
    	/*background-color: #F00;*/  /* <------- Visuel test af breakingpoints */
    }

}


@media (min-width: 701px) and (max-width:900px) {

	.weekNum_number{
    	font-size: 0.6em;
    }

    .weekNameAndNumber {
    	font-size: 0.7em;
    }

    .weekDay {
    	top: 112px;
    	/*background-color: #0F0;*/  /* <------- Visuel test af breakingpoints */
    }

    .weekNumber {
    	top: 45px;
    }

}

@media (max-width: 700px) {

	.weekNum_number{
    	font-size: 0.5em;
    	width: 11.5%;
    }

    .weekNameAndNumber {
    	font-size: 0.5em;
    }

    .weekDay {
    	top: 95px;
    	/*background-color: #00F;*/  /* <------- Visuel test af breakingpoints */
    }

    .weekNumber {
    	top: 45px;
    }
   
}

/**********************************************************************
					MEDIA QUERIES - MOBILE
/*********************************************************************/ 

@media (min-width: 800px) and (max-width:1160px) {

	.mobile_dayContent {
		margin-left: 5%; 	/* <---------- VIGTIGT: Denne centrereing er ikke nødvendig i chrome mobil simulering! */
	}
}

@media (max-width: 799px) {
	.mobile_dayContent {
		margin-left: 0%; 	/* <---------- VIGTIGT: Denne centrereing er ikke nødvendig i chrome mobil simulering! */
	}
}